body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

header {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-left: 0;
}

.list {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.header {
    justify-content: space-around;
    align-items: center;
}

.header .d-flex {
    align-items: center;
}

.header .list {
    gap: 40px;
}

header .logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #2e2f42;
    margin-right: 76px;
}

header .logo a:hover {
    color: #ff6b6b;
}

header .logo a:focus {
    color: #ff6b6b;
}

header nav {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2e2f42;
}

header .contact-info a {
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #434455;
}

nav {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #2e2f42;
}

nav a:hover {
    color: #ff6b6b;
}

nav a:focus {
    color: #ff6b6b;
}

header .contact-info a:hover {
    color: #ff6b6b;
}

header .contact-info a:focus {
    color: #ff6b6b;
}

.link {
    text-decoration: none;
}

nav .link {
    color: #2e2f42;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-section {
    background: linear-gradient(rgba(46, 47, 66, 0.70),rgba(46, 47, 66, 0.70)), url("../images/pplofc.jpg");
    background-size: cover;
    color: #ffffff;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
    width: 1440рх;
}

.main-section h1 {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.main-section button {
    display: inline-flex;
    align-items: flex-start;
    background: var(--IRIS, #4d5ae5);
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
}

button:hover {
    background-color: #ff6b6b;
}

button:focus {
    background-color: #ff6b6b;
}

/* CSS FOR SERVICES */

.services-section h3 {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    color: #2e2f42;
}

.services-section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}

.services-section p {
    display: flex;
}

.services-icon {
    padding: 24px 0;
    text-align: center;
    background-color: #F4F4FD;
}

/* END OF SERVICES */

/* CSS FOR WHAT WE DO */

.doing-section h2 {
    text-align: center;
}

/* END OF WHAT WE DO */

/* CSS FOR TEAM SECTION */
.team-section {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-caption {
    background-color: white;
    padding-top: 32px;
    text-align: center;
    padding-bottom: 32px;
}

.team-section h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team-section h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2e2f42;
    margin-top: 0;
}

.team-section img {
    width: 100%;
    display: block;
}

.team-section p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-socials {
    display: flex;
    justify-content: space-around;
}

.team-socials-icon {
    background-color: #4D5AE5;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-socials-icon svg {
    fill: white;
}

/* END OF TEAM SECTION */

/* CUSTOMERS STYLING */

.customers {
    background: #FFF;
}

.customers .section-title {
    text-align: center;
}

.customer-icon {
    border: 1px solid #8e8f99;
    padding: 16px 32px;
}

.customer-icon svg {
    fill: #8e8f99;
}

.customer-icon:hover,
.customer-icon:focus {
    border-color: var(--iris);
}

.customer-icon:hover svg,
.customer-icon:focus svg {
    fill: var(--iris);
}

/* END OF CUSTOMERS STYLING */

footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .footer-inner {
    display: flex;
}

.footer-inner {
    align-items: baseline;
}

footer .logo {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    color: #f4f4fd;
}


/* PORTFOLIO PAGE STYLING */
.categories {
    text-align: center;
}

.category-btn {
    border-radius: 4px;
    border: 1px solid #e7e9fc;
    background-color: #f4f4fd;
    color: #4d5ae5;
    padding: 12px 24px;
}

.btn-active {
    background-color: #404bbf;
    color: white;
    cursor: pointer;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.project img {
    width: 100%;
    display: block;
}

@media (min-width: 428px) {
    .container {
        width: 428px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}